<nav class="navbar">
  <ul class="navbar-list">
    <li>
      <a routerLink="/personal-information">personal information</a>
    </li>
    <li>
      <a routerLink="/references">references</a>
    </li>
    <li>
      <a routerLink="/general-nomination-component"
        >general-nomination-component</a
      >
    </li>
    <li>
      <a routerLink="/medical-insurance">Medical insurance</a>
    </li>
  </ul>
</nav>

<router-outlet> </router-outlet>

<!-- <app-employee-personal-data></app-employee-personal-data> -->
<!-- <app-references></app-references> -->
<!-- <app-general-nominations></app-general-nominations> -->
